        
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section" data-header-fix-moment="300">	
    <div class="u-header__section u-header__section--light  g-transition-0_3 g-bg-color-header" data-header-fix-moment-exclude="" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg g-pa-0 g-pt-4 g-pb-4">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">								
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>

                <a href="http://www.chiapas.gob.mx" target="_blank" class="navbar-brand g-text-underline--hover"><img src="assets/logo/escudo-icono.png" alt=""></a>
                <a href="http://www.chiapas.gob.mx" target="_blank" class="g-color-white-opacity-0_9 g-font-size-16 g-font-weight-300 g-font-secondary g-text-underline--hover">chiapas<span class="g-color-white-opacity-0_6">.gob.mx</span></a>

                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav ml-auto g-font-size-16 g-font-weight-100">
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/participa" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Participa</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/tramites" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Trámites</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/gobierno" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Gobierno</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/transparencia" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Transparencia</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/busquedas" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block loaded under-760 under-500" data-options="{direction: &quot;normal&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}" style="height: 221px; margin-top: 49px;">
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="height: 100%; background-image: url(&quot;assets/img/portada.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
    </div>
    </section>
<form action="conocenos.php" method="post" name="frm" id="frm">


    <div class="container g-pt-20 g-pb-20">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3 col-12">
                <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary">Conócenos</h3>
                <ul class="list-group">
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="bienvenuda">Bienvenida</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="mision-vision">Misión-Visión</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="que-hacemos">Que hacemos</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="organigrama">Organigrama</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="directorio">Directorio</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="codigo-etica">Código Ética</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="integirdad">Integridad Pública</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="introduccion">Inducción</a>
                    </li>
                                </ul>
            </div>
    
                    <div class="col-lg-9 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary g-mb-20">
                                Bienvenida</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify">
                                                    <div id="bienvenida">
    <p>Bienvenidos a la página oficial de la Secretaría de Agricultura, Ganadería y Pesca, espacio donde se describen las acciones que realiza el Gobierno del Estado de Chiapas para el sector Agrícola, Pecuario y Acuícola – Pesquero, establecidas en las políticas públicas del Plan Estatal de Desarrollo Chiapas 2019-2024, con el propósito de impulsar el desarrollo sostenible en beneficio de los productores y pescadores; el marco jurídico que regula el quehacer de la Institución, así como la normatividad que reglamenta los programas institucionales para la atención del sector.</p>
    
    <br><br><br><br><br><br><br>                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    </form>