        
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section" data-header-fix-moment="300">	
    <div class="u-header__section u-header__section--light  g-transition-0_3 g-bg-color-header" data-header-fix-moment-exclude="" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg g-pa-0 g-pt-4 g-pb-4">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">								
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>

                <a href="http://www.chiapas.gob.mx" target="_blank" class="navbar-brand g-text-underline--hover"><img src="assets/logo/escudo-icono.png" alt=""></a>
                <a href="http://www.chiapas.gob.mx" target="_blank" class="g-color-white-opacity-0_9 g-font-size-16 g-font-weight-300 g-font-secondary g-text-underline--hover">chiapas<span class="g-color-white-opacity-0_6">.gob.mx</span></a>

                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav ml-auto g-font-size-16 g-font-weight-100">
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/participa" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Participa</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/tramites" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Trámites</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/gobierno" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Gobierno</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/transparencia" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Transparencia</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/busquedas" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block loaded under-760 under-500" data-options="{direction: &quot;normal&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}" style="height: 221px; margin-top: 49px;">
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="height: 100%; background-image: url(&quot;assets/img/portada.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
    </div>
    </section>
<form action="conocenos.php" method="post" name="frm" id="frm">


    <div class="container g-pt-20 g-pb-20">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3 col-12">
                <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary">Conócenos</h3>
                <ul class="list-group">
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="bienvenuda">Bienvenida</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="mision-vision">Misión-Visión</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="que-hacemos">Que hacemos</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="organigrama">Organigrama</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="directorio">Directorio</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="codigo de etica">Código Ética</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="integridad">Integridad Pública</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="introduccion">Inducción</a>
                    </li>
                            
                                </ul>
            </div>
    
                    <div class="col-lg-9 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary g-mb-20">
                                Organigrama</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify">
                                                                                                                                <ul id="map">
                                    <li>
                                        <a href="#" title="">
                                            <span>
                                                <p>
                                                    <img src="assets/img/organigrama.jpg">
                                                </p>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <!--
                            <ul id="map">
                                <li><a class="SAGYP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Mtra. Zaynia Andrea G&iacute;l V&aacute;zquez</b><br><b>C. Secretaria</b>
                                </span></a></li>
                                    
                                <li><a class="UAA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C.P. Fernando G&oacute;mez Ruiz</b><br><b>Unidad de Apoyo Administrativo</b></span></a></li>
                                    
                                <li><a class="UP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Dra. Laura Guill&eacute;n Gonz&aacute;lez</b><br><b>Unidad de Planeaci&oacute;n</b></span></a></li>	
                                    
                                <li><a class="CFCAA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Osvaldo Erwing Iturbe Orbe</b><br><b>Coordinaci&oacute;n de Financiamiento y Comercializaci&oacute;n Agropecuaria y Agroindustrial</b></span></a></li>	
                                    
                                <li><a class="UI text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Juan Ignacio Moctezuma Hern&aacute;ndez</b><br><b>Unidad de Inform&aacute;tica</b></span></a></li>
                                    
                                <li><a class="UAJ text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Lidha Arianet Peregrino Cueto</b><br><b>Unidad de Apoyo Jur&iacute;dico</b></span></a></li>
    
                                <li><a class="UISAA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Juan Luis Vidal Avenda&ntilde;o</b><br><b>Unidad de Inteligencia en Sanidad Agropecuaria y Acu&iacute;cola</b></span></a></li>
    
                                <li><a class="CFFAEC text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Pedro Escobar Albores</b><br><b>Coordinaci&oacute;n del Fondo de Fomento Agropecuario Del Estado de Chiapas</b></span></a></li>
                                    
                                <li><a class="UPEI text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Nely del Socorro Ru&iacute;z Pinto</b><br><b>Unidad de Promoci&oacute;n y Enlace Institucional</b></span></a></li>
    
                                <li><a class="UT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Argelia Guadalupe Alegr&iacute;a Oca&ntilde;a</b><br><b>Unidad de Transparencia</b></span></a></li>
                                    
                                <li><a class="ARFC text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Mois&eacute;s Jord&aacute;n Zambrano Morales</b><br><b>&Aacute;rea de Recursos Financieros</b></span></a></li>
    
                                <li><a class="ARH text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Sandra Couti&ntilde;o Guillen</b><br><b>&Aacute;rea de Recursos Humanos</b></span></a></li>
                                    
                                <li><a class="ARMSG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. V&iacute;ctor Fabi&aacute;n Mart&iacute;nez S&aacute;nchez</b><br><b>&Aacute;rea de Recursos Materiales y Servicios Generales</b></span></a></li>
    
                                <li><a class="AT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Elvira del Rosario Molina Figueroa</b><br><b>&Aacute;rea de Tesorer&iacute;a</b></span></a></li>
                                    
                                <li><a class="APE text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Madeli L&oacute;pez Velasco</b><br><b>&Aacute;rea de Planeaci&oacute;n Estrat&eacute;gica</b></span></a></li>
                                    
                                <li><a class="ADE text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>LIA. Mario Mart&iacute;n Su&aacute;rez G&oacute;mez</b><br><b>&Aacute;rea de Desarrollo y Evaluaci&oacute;n</b></span></a></li>
                                    
                                <li><a class="APPG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Mauricio S&aacute;nchez L&oacute;pez</b><br><b>&Aacute;rea de Programaci&oacute;n y Presupuesto del Gasto</b></span></a></li>
                                    
                                <li><a class="ACS text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Mario Esponda Toledo</b><br><b>&Aacute;rea de Control Y Seguimiento</b></span></a></li>
                                    
                                <li><a class="AFSA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Ricardo Esponda Maza</b><br><b>&Aacute;rea de Financiamiento al Sector Agropecuario</b></span></a></li>
                                    
                                <li><a class="ADRA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Ameth Chac&oacute;n L&aacute;zaro</b><br><b>&Aacute;rea de Desarrollo y Regulaci&oacute;n Agroindustrial</b></span></a></li>
    
                                <li><a class="ACAA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Mtra. Elia Aramara Salgado Mojica</b><br><b>&Aacute;rea de Comercializaci&oacute;n Agropecuaria y Agroindustrial</b></span></a></li>
                                    
                                <li><a class="ASG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>ISC. Ra&uacute;l Jonathan Vel&aacute;zquez Peralta</b><br><b>&Aacute;rea de Sistemas y Georeferenciaci&oacute;n</b></span></a></li>
                                    
                                <li><a class="AP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Alberto Horacio L&oacute;pez Medina</b><br><b>&Aacute;rea de Producci&oacute;n</b></span></a></li>
                                    
                                <li><a class="AC text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Adelina Almeida V&aacute;zquez</b><br><b>&Aacute;rea de lo Contencioso</b></span></a></li>
                                    
                                <li><a class="AAN text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Jesuany Alias Nagano</b><br><b>&Aacute;rea Administrativa y de Normatividad</b></span></a></li>
                                    
                                <li><a class="AOF text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Manuela Isabel Cruz Flores</b><br><b>&Aacute;rea Operativa del FOFAE</b></span></a></li>
                                    
                                <li><a class="ATOP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C.P. Ernesto Noriega &Aacute;lvarez</b><br><b>&Aacute;rea T&eacute;cnica Operativa de Programas</b></span></a></li>
                                    
                                <li><a class="SAG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Mtro. Jos&eacute; Antonio Hern&aacute;ndez Hern&aacute;ndez</b><br><b>Subsecretar&iacute;a de Agricultura y Ganader&iacute;a</b></span></a></li>
                                    
                                <li><a class="SPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Alejandro Aquiles Patrinos Fern&aacute;ndez</b><br><b>Subsecretar&iacute;a de Pesca y Acuacultura</b></span></a></li>
                                    
                                <li><a class="DFDA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Arcadio Penagos Contreras</b><br><b>Direcci&oacute;n de Fomento y Desarrollo Agr&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DDRS text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Olga Madrigal D&iacute;az</b><br><b>Direcci&oacute;n de Desarrollo Rural Sostenible</b></span></a></li>
                                    
                                <li><a class="DRPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>LA. Gabriela Orantes Chavarr&iacute;a</b><br><b>Direcci&oacute;n de Reconversi&oacute;n Productiva Agrosustentable</b></span></a></li>
                                    
                                <li><a class="DFDG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Ra&uacute;l Antonio Serrano Guti&eacute;rrez</b><br><b>Direcci&oacute;n de Fomento y Desarrollo Ganadero</b></span></a></li>
                                    
                                <li><a class="DRP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. No&eacute; Madain Casta&ntilde;eda Torres</b><br><b>Direcci&oacute;n de Regulaci&oacute;n Pecuaria</b></span></a></li>
                                    
                                <li><a class="DAPVIT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Carlos Eulalio Morales Alcocer</b><br><b>Direcci&oacute;n de Agricultura Protegida, Vinculaci&oacute;n e Innovaci&oacute;n Tecnol&oacute;gica</b></span></a></li>
                                    
                                <li><a class="DIR text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Arq. Adalberto Mandujano Ruiz</b><br><b>Direcci&oacute;n de Infraestructura Rural</b></span></a></li>
                                    
                                <li><a class="DFA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Jorge Alejandro Nigenda Corzo</b><br><b>Departamento de Fomento Agr&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DDAPF text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>MVZ. Bernab&eacute; Bielma Marroqu&iacute;n</b><br><b>Departamento de Desarrollo Agr&iacute;cola y Protecci&oacute;n Fitosanitaria</b></span></a></li>
                                    
                                <li><a class="DFUCP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Jocelyn Maza Farrera</b><br><b>Departamento de Fortalecimiento de Unidades y Cadenas Productivas</b></span></a></li>
                                    
                                <li><a class="DEITT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Juan Diego Farrera Salinas</b><br><b>Departamento de Extensionismo, Investigaci&oacute;n y Transferencia de Tecnolog&iacute;a</b></span></a></li>
                                    
                                <li><a class="DASPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Dr. Gustavo Enrique Rojo Mart&iacute;nez</b><br><b>Departamento de Atenci&oacute;n y Seguimiento de Plantaciones Agrosustentable</b></span></a></li>
                                    
                                <li><a class="DPPFH text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Jos&eacute; Zavaleta Padilla</b><br><b>Departamento de Producci&oacute;n de Plantaciones Frut&iacute;colas y Hortofloricolas</b></span></a></li>
                                    
                                <li><a class="DPAC text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Erik Geovanny Chac&oacute;n Calder&oacute;n</b><br><b>Departamento de Plantaciones Agrosustentables Comerciales</b></span></a></li>
                                    
                                <li><a class="DGVTP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Margarita Concepci&oacute;n Irena Barrios</b><br><b>Departamento de Gen&eacute;tica y Vinculaci&oacute;n Tecnol&oacute;gica Pecuaria</b></span></a></li>
                                    
                                <li><a class="DRMP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>MVZ. Eduardo Ruiz Correa</b><br><b>Departamento de Regulaci&oacute;n de Movilizaci&oacute;n Pecuaria</b></span></a></li>
                                    
                                <li><a class="DRPSG text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Alberto Eliseo Burguete Cal y Mayor</b><br><b>Departamento de Regulaci&oacute;n de Prestadores de Servicios Ganaderos</b></span></a></li>
                                    
                                <li><a class="DAP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Guadalupe V&aacute;zquez Nafata</b><br><b>Departamento de Agricultura Protegida</b></span></a></li>
                                    
                                <li><a class="DVTT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Danilo Enrique Morales Ru&iacute;z</b><br><b>Departamento de Vinculaci&oacute;n y Transferencia Tecnol&oacute;gica</b></span></a></li>
                                    
                                <li><a class="DCA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Biol. Santiago Rosales Dom&iacute;nguez</b><br><b>Departamento de Coordinaci&oacute;n Agroambiental</b></span></a></li>
                                    
                                <li><a class="DCIAH text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Arq. Ricardo Ju&aacute;rez Ovando</b><br><b>Departamento de Construcci&oacute;n de Infraestructura Agropecuaria e Hidroagr&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DMIAH text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>LIA. Gustavo Adolfo Grajales Garc&iacute;a</b><br><b>Departamento de Mantenimiento de Infraestructura Agropecuaria e Hidroagr&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DGVIA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>L.R.I. Abelardo de Jes&uacute;s Moreno Bustamante</b><br><b>Departamento de Gesti&oacute;n y Vinculaci&oacute;n de la Infraestructura Agropecuaria</b></span></a></li>
                                    
                                <li><a class="DPIPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Ing. Reynol Jim&eacute;nez Palacios</b><br><b>Direcci&oacute;n de Producci&oacute;n e Infraestructura Pesquera y Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DOV text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. C&eacute;sar Mart&iacute;nez Antonio</b><br><b>Direcci&oacute;n de Organizaci&oacute;n y Vigilancia</b></span></a></li>
                                    
                                <li><a class="DCAT text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Mar&iacute;a Cielo Escobar Sim&oacute;n</b><br><b>Direcci&oacute;n de Capacitaci&oacute;n y Asistencia T&eacute;cnica</b></span></a></li>
                                    
                                <li><a class="DFAR text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Patricia G&oacute;mez Mart&iacute;nez</b><br><b>Direcci&oacute;n de Fortalecimiento a la Acuacultura Rural</b></span></a></li>
                                    
                                <li><a class="DIPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Jorge Alejandro Castillejos L&oacute;pez</b><br><b>Departamento de Infraestructura Pesquera y Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DPPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Eliazar Ovando Garc&iacute;a</b><br><b>Departamento de Producci&oacute;n Pesquera y Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DDPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Heidy Graciela Mart&iacute;nez Villarreal</b><br><b>Departamento de Desarrollo Pesquero y Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DOP text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Genaro Aparicio Hern&aacute;ndez</b><br><b>Departamento de Organizaci&oacute;n Pesquera</b></span></a></li>
                                    
                                <li><a class="DVPA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>L.A.A. Salvador No&eacute; Escobar V&aacute;zquez</b><br><b>Departamento de Vigilancia Pesquera y Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DFCA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>Lic. Hamet Aguilar Cruz</b><br><b>Departamento de Fortalecimiento de Capacidades Administrativas</b></span></a></li>
                                    
                                <li><a class="DATE text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Eric Fernando Garc&iacute;a Bielma</b><br><b>Departamento de Asistencia T&eacute;cnica y Extensionismo</b></span></a></li>
                                    
                                <li><a class="DOA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Arturo Candelaria Wong</b><br><b>Departamento de Organizaci&oacute;n Acu&iacute;cola</b></span></a></li>
                                    
                                <li><a class="DDRA text-center" href="#" title=""><span>
                                    <p>
                                        <img src="img/orga.jpg">
                                    </p>     
                                    <br>
                                    <b>C. Jorge Silva pe&ntilde;a</b><br><b>Departamento de Desarrollo Rural Acu&iacute;cola</b></span></a></li>
                            </ul>
                                -->
                                                    <!-- <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="img/paginas/ORGANIGRAMASAGYP.pdf">
                                </iframe>
                            </div>
                            <div class="list-group">
                                <div class="d-flex w-100">
                                    <h5 class="mb-1 ">Organigrama de la Secretaria de Agricultura, Ganaderia y Pesca</h5>
                                </div>
                                <p class="mb-1 ">2013-09-12 12:24:17</p>
                            </div> -->
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </form>