<body style="background-color: rgb(242, 242, 242);" marginwidth="0" marginheight="0" class="">
  
        
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section" data-header-fix-moment="300">	
    <div class="u-header__section u-header__section--light  g-transition-0_3 g-bg-color-header" data-header-fix-moment-exclude="" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg g-pa-0 g-pt-4 g-pb-4">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">								
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>

                <a href="http://www.chiapas.gob.mx" target="_blank" class="navbar-brand g-text-underline--hover"><img src="assets/logo/escudo-icono.png" alt=""></a>
                <a href="http://www.chiapas.gob.mx" target="_blank" class="g-color-white-opacity-0_9 g-font-size-16 g-font-weight-300 g-font-secondary g-text-underline--hover">chiapas<span class="g-color-white-opacity-0_6">.gob.mx</span></a>

                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav ml-auto g-font-size-16 g-font-weight-100">
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/participa" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Participa</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/tramites" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Trámites</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/gobierno" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Gobierno</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/transparencia" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover ">Transparencia</a></li>
                        <li class="nav-item g-mx-10--lg"><a href="http://www.chiapas.gob.mx/busquedas" target="_blank" class="nav-link g-color-white-opacity-0_9 g-text-underline--hover"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header><section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block loaded under-760 under-500" data-options="{direction: &quot;normal&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}" style="height: 221px; margin-top: 49px;">
<div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="height: 100%; background-image: url(&quot;assets/img/portada.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
</div>
</section><div class="g-brd-around g-brd-1 g-brd-gray-light-v4-top g-brd-gray-light-v4-bottom g-bg-color-menu g-pt-4 g-pb-4 sticky-top" role="alert" style="">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light g-pa-0 g-right-0 g-bg-color-menu g-pt-2 g-pb-2">
        <a class="navbar-brand g-color-morado g-font-weight-600 g-font-size-16 d-none d-sm-none d-md-none d-lg-none d-xl-block g-text-underline--hover" href="index.php"><i class="fa fa-home fa-2x"></i>  SAGyP</a>
        <a class="navbar-brand g-color-morado g-font-weight-600 g-font-size-16 d-sm-block d-md-block d-lg-block d-xl-none g-text-underline--hover" href="index.php"><i class="fa fa-home fa-2x"></i>  SAGyP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav g-font-size-14 g-font-weight-500 ml-auto ">
                <li class="nav-item g-mx-5--lg">
                    <a class="nav-link g-color-primary--hover g-color-black-opacity-0_9">Visitante No. 106,971</a>
                </li>
                <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="/bienvenuda" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conócenos</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item g-color-primary--hover" href="">
                                Bienvenida								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Misión-Visión								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Que hacemos								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Organigrama								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Directorio								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Código Ética								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Integridad Pública								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Inducción								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Organización								</a>
                                                            <a class="dropdown-item g-color-primary--hover" href="">
                                Procedimientos								</a>
                                                    </div></li>
                    <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marco Jurídico</a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Constitucion								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Leyes Federales								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Leyes Estatales								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Reglamentos								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Manuales								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Decretos								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Acuerdos								</a>
                                                                <a class="dropdown-item g-color-primary--hover" href="">
                                Protocolos								</a>
                                                    </div>
                </li>
                <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item g-color-primary--hover text-wrap" style="width: 240px;" href="servicios.php?idpage=144">
                        Subsecretaria de Agricultura y Ganadería								</a>
                                                    <a class="dropdown-item g-color-primary--hover text-wrap" style="width: 240px;" href="servicios.php?idpage=146">
                        Subsecretaria de Pesca y Acuacultura								</a>
                                                    <a class="dropdown-item g-color-primary--hover text-wrap" style="width: 240px;" href="servicios.php?idpage=400">
                        Coordinación de Financiamiento, Comercialización Agropecuaria y Agroindustrial								</a>
                                            </div>
            </li>
            <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sala de Prensa</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item g-color-primary--hover text-wrap" href="boletines.php">Boletines</a>
                    <a class="dropdown-item g-color-primary--hover text-wrap" href="prensa.php">Notas</a>
                                            <a class="dropdown-item g-color-primary--hover text-wrap" href="tianguis.php?nota=1703">Tianguis</a>
                                            <a class="dropdown-item g-color-primary--hover text-wrap" href="covid.php?nota=988">COVID-19</a>
                    <a class="dropdown-item g-color-primary--hover text-wrap" href="agroclimatico.php?documento=1">Agroclimática</a>
                </div>
            </li>
            <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transparencia</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item g-color-primary--hover" href="transparencia.php">Qué es Transparencia</a>
                    <a class="dropdown-item g-color-primary--hover" href="http://secam.transparencia.chiapas.gob.mx" target="_blank">Transparencia SAGyP</a>
                    <a class="dropdown-item g-color-primary--hover" href="http://fedcaa.transparencia.chiapas.gob.mx/" target="_blank">Transparencia FEDCAA</a>
                    <a class="dropdown-item g-color-primary--hover" href="http://fondofofae.transparencia.chiapas.gob.mx/" target="_blank">Transparencia FOFAE</a>
                </div>
            </li>
            <li class="nav-item g-mx-5--lg dropdown"><a class="nav-link dropdown-toggle g-color-primary--hover g-color-black-opacity-0_9" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Integridad Pública</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item g-color-primary--hover" href="integridad.php?id=1">Eventos</a>
                    <a class="dropdown-item g-color-primary--hover" href="integridad.php?id=2">Documentos</a>
                </div>
            </li>
        </ul>
        <section>
            <div id="PopoverContent" class="d-none">
            <form action="buscar.php" class="form-inline my-2 my-lg-0" method="POST">
                <div class="input-group">
                    <input name="buscar" id="buscar" type="search" class="form-control" s="" placeholder="Escriba lo que desea buscar" aria-label="Buscador" aria-describedby="button-addon1">
                    <div class="input-group-append" id="button-addon1">
                        <button class="btn btn-outline-primary" type="submit" data-toggle="popover" data-placement="bottom" data-html="true" data-title="Search" data-original-title="" title=""><i class="fa fa-search"></i>
                        </button>
                    </div>
                
                </div></form>
            </div>
        </section>
                <button type="button" class="btn btn-outline-secondary g-bg-morado--hover" data-toggle="popover" title="" data-original-title="Buscar"><i class="fa fa-search"></i></button>
    </div>
</nav>
</div>
</div>

<script>
function disableIE() {
if (document.all) {
    return false;
}
}
function disableNS(e) {
if (document.layers || (document.getElementById && !document.all)) {
    if (e.which==2 || e.which==3) {
        return false;
    }
}
}
if (document.layers) {
document.captureEvents(Event.MOUSEDOWN);
document.onmousedown = disableNS;
} 
else {
document.onmouseup = disableNS;
document.oncontextmenu = disableIE;
}
document.oncontextmenu=new Function("return false");
</script><div class="container g-pt-20 g-pb-20">
<section class="text-center">
    <div class="container">
                    <div id="myCarousel" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
            <ol class="carousel-indicators">

                                    <li data-target="#myCarousel" data-slide-to="0" class="">
                </li>
                                    <li data-target="#myCarousel" data-slide-to="1" class="active">
                </li>
                                    <li data-target="#myCarousel" data-slide-to="2" class="">
                </li>
                                    <li data-target="#myCarousel" data-slide-to="3" class="">
                </li>
                                    <li data-target="#myCarousel" data-slide-to="4" class="">
                </li>
                


            </ol>
            <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active carousel-item-left">
                <a class="text-decoration-none g-color-white" href="">
                                    <div class="embed-responsive embed-responsive-16by9">
                <img class="img-fluid center-block embed-responsive-item" src="assets/img/notas/1860_Img1.jpg">
                </div>
                                    </a>
                    <div class="container">
                        <div class="carousel-caption text-center g-bg-primary-opacity-0_6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                        <a class="text-decoration-none g-color-white" href="">
                            <h4 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">En la #SAGyP reiteramos el compromiso para prevenir y erradicar la violencia contra las mujeres y las niñas en #Chiapas.                                </h4>
                        </a>
                        </div>
                    </div>
                </div>
                                    <div class="carousel-item carousel-item-next carousel-item-left">
                <a class="text-decoration-none g-color-white" href="    ">
                                    <div class="embed-responsive embed-responsive-16by9">
                <img class="img-fluid center-block embed-responsive-item" src="assets/img/notas/1859_Img1.jpg">
                </div>
                                    </a>
                    <div class="container">
                        <div class="carousel-caption text-center g-bg-primary-opacity-0_6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                        <a class="text-decoration-none g-color-white" href="">
                            <h4 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">En la #SAGyP celebramos el Día de la Armada Nacional, y reconocemos su esfuerzo para vigilar y salvaguardar las costas, el mar territorial y el espacio aéreo mexicano.                                </h4>
                        </a>
                        </div>
                    </div>
                </div>
                                    <div class="carousel-item">
                <a class="text-decoration-none g-color-white" href="">
                                    <div class="embed-responsive embed-responsive-16by9">
                <img class="img-fluid center-block embed-responsive-item" src="assets/img/notas/1858_Img1.jpg">
                </div>
                                    </a>
                    <div class="container">
                        <div class="carousel-caption text-center g-bg-primary-opacity-0_6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                        <a class="text-decoration-none g-color-white" href="">
                            <h4 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">La titular de la #SAGyP, Zaynia Andrea Gil Vázquez, encabezó la inauguración de la 2a Expo Feria del Cacahuate, Jiquipilas 2022 en el Ejido Sinaloa. Allí refrendó el compromiso del Gobernador de Chiapas, Rutilio Escandón Cadenas, de desarrollar proyectos para potencializar, el cultivo del cacahuate y beneficiar a las familias dedicadas a este cultivo.                                </h4>
                        </a>
                        </div>
                    </div>
                </div>
                                    <div class="carousel-item">
                <a class="text-decoration-none g-color-white" href="">
                                    <div class="embed-responsive embed-responsive-16by9">
                <img class="img-fluid center-block embed-responsive-item" src="assets/img/notas/1857_Img1.jpg">
                </div>
                                    </a>
                    <div class="container">
                        <div class="carousel-caption text-center g-bg-primary-opacity-0_6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                        <a class="text-decoration-none g-color-white" href="">
                            <h4 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">Cada 21 de noviembre en la #SAGyP celebramos el Día Mundial de la Pesca, en homenaje a las comunidades pesqueras del estado, así como destacar la importancia de la actividad pesquera en la vida humana.                                </h4>
                        </a>
                        </div>
                    </div>
                </div>
                                    <div class="carousel-item">
                <a class="text-decoration-none g-color-white" href="">
                                    <div class="embed-responsive embed-responsive-16by9">
                <img class="img-fluid center-block embed-responsive-item" src="assets/img/notas/1856_Img1.jpg">
                </div>
                                    </a>
                    <div class="container">
                        <div class="carousel-caption text-center g-bg-primary-opacity-0_6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
                        <a class="text-decoration-none g-color-white" href="">
                            <h4 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">En la #SAGyP conmemoramos el 112 Aniversario de la Revolución Mexicana, hecho histórico que dio origen a la transformación de la vida social y política del país. Asimismo, reconocemos el apoyo de las Fuerzas Armadas.                                </h4>
                        </a>
                        </div>
                    </div>
                </div>
                                </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
</div>
<!-- 
onclick="javascript:
document.getElementById('cuadricula').value='';
document.getElementById('AnioAct').value='';
document.getElementById('VerNota').value='SI';
document.getElementById('nota').value='';
document.getElementById('mes').value='';
document.getElementById('frm').action='.php';
                        document.getElementById('frm').submit();
                        " --><div class="container-fluid g-pt-20 g-pb-20">
<section class="text-center">
    <div class="container">
        <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
            <h4 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Servicios</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 col-lg-2  g-mb-10">
                    <div class="card border-0">
                        <a href="conocenos.php?idpage=13"><img class="img-fluid" src="assets/img/iconos/CONOCENOS.png" onmouseover="this.src='assets/img/iconos/CONOCENOS2.png'" onmouseout="this.src='assets/img/iconos/CONOCENOS.png'"></a>
                    </div>
                </div>

                
                
                <div class="col-4 col-lg-2  g-mb-10">
                    <div class="card border-0">
                        <a href="marco.php?posicion=1"><img class="img-fluid" src="assets/img/iconos/MARCOJURIDICO.png" onmouseover="this.src='assets/img/iconos/MARCOJURIDICO2.png'" onmouseout="this.src='assets/img/iconos/MARCOJURIDICO.png'"></a>	
                    </div>
                </div>
                
                
                
                <div class="col-4 col-lg-2  g-mb-10">
                    <div class="card border-0">
                        <a onclick="javascript:window.open('https://www.festivaldelcafechiapas.mx/','_blank')"><img class="img-fluid" src="assets/img/iconos/CITYCAFE.png" onmouseover="this.src='assets/img/iconos/CITYCAFE2.png'" onmouseout="this.src='../../img/iconos/CITYCAFE.png'"></a>
                    </div>
                </div>




                <!--
                <div class="col-6 col-lg-3 text-center">
                    <a href="transparencia.php?id=1"><img class="img-fluid" src="img/iconos/TRANSPARENCIA.png" onmouseover="this.src='img/iconos/TRANSPARENCIA2.png'" onmouseout="this.src='img/iconos/TRANSPARENCIA.png'"></a>
                </div>
                -->
                <div class="col-4 col-lg-2  g-mb-10">
                    <div class="card border-0">
                        <a href=""><img class="img-fluid" src="assets/img/iconos/SALADEPRENSA.png" onmouseover="this.src='assets/img/iconos/SALADEPRENSA2.png'" onmouseout="this.src='assets/img/iconos/SALADEPRENSA.png'"></a>
                    </div>
                </div>
                                            <div class="col-4 col-lg-2  g-mb-10">
                            <div class="card border-0">
                                <a href=""><img class="img-fluid" src="assets/img/iconos/PUBLICACIONES.png" onmouseover="this.src='assets/img/iconos/PUBLICACIONES2.png'" onmouseout="this.src='assets/img/iconos/PUBLICACIONES.png'"></a>
                            </div>
                        </div>
                                            <div class="col-4 col-lg-2  g-mb-10">
                                        <div class="card border-0">
                    <a href=""><img class="img-fluid" src="assets/img/iconos/TIANGUIS.png" onmouseover="this.src='assets/img/iconos/TIANGUIS2.png'" onmouseout="this.src='assets/img/iconos/TIANGUIS.png'"></a>
                    </div>
                </div>
                <!--
                <div class="col-6 col-lg-3 text-center">
                    <a href="integridad.php?id=1"><img class="img-fluid" src="img/iconos/INTEGRIDAD.png" onmouseover="this.src='img/iconos/INTEGRIDAD2.png'" onmouseout="this.src='img/iconos/INTEGRIDAD.png'"></a>
                </div>
                -->
            </div>
        </div>
    </div></section>
</div><div class="container g-pt-20 g-pb-20 d-none d-sm-none d-md-none d-lg-none d-xl-block">
<section class="text-center">
    <div class="container">
        <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
            <h4 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Eventos</h4>
        </div>
                    <div id="carouselExampleIndicators2" class="carousel slide pointer-event" data-ride="carousel">
            <ol class="carousel-indicators ">
                                                      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="3" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="4" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="5" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="6" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="7" class=""></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="8" class="active"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="9"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="10"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="11"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="12"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="13"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="14"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="15"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="16"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="17"></li>
                                                    <li data-target="#carouselExampleIndicators2" data-slide-to="18"></li>
                                                  </ol>
            <div class="carousel-inner">
                                                                         <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1860"><img class="d-block w-100 img-fluid" src="img/20221125_102947.jpg" alt="dia naranja 11 2022"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1859"><img class="d-block w-100 img-fluid" src="img/20221123_111317.jpg" alt="armada"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1857"><img class="d-block w-100 img-fluid" src="img/20221122_122309.jpg" alt="pescadores"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1856"><img class="d-block w-100 img-fluid" src="img/20221122_122140.jpg" alt="revolucion"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1854"><img class="d-block w-100 img-fluid" src="img/20221122_105104.jpg" alt="dia del hombre"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1850"><img class="d-block w-100 img-fluid" src="img/20221116_122456.jpg" alt="gastronomia"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1848"><img class="d-block w-100 img-fluid" src="img/20221114_101241.jpg" alt="ley"></a>
                                         </div>
                                                                                      <div class="carousel-item">
                                         <a href="nota.php?IdNotas=1847"><img class="d-block w-100 img-fluid" src="img/20221114_101100.jpg" alt="diabetes"></a>
                                         </div>
                                                                                      <div class="carousel-item active">
                                         <a href="nota.php?IdNotas=1846"><img class="d-block w-100 img-fluid" src="img/20221114_101030.jpg" alt="libro"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="nota.php?IdNotas=1845"><img class="d-block w-100 img-fluid" src="img/20221114_100930.jpg" alt="cartero"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="nota.php?IdNotas=1843"><img class="d-block w-100 img-fluid" src="img/20221110_093857.jpg" alt="ciencia"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="nota.php?IdNotas=1841"><img class="d-block w-100 img-fluid" src="img/20221109_093215.jpg" alt="integridad"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="nota.php?IdNotas=1840"><img class="d-block w-100 img-fluid" src="img/20221107_103959.jpg" alt="acta solemne"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="nota.php?IdNotas=1839"><img class="d-block w-100 img-fluid" src="img/20221031_201710.jpg" alt="muertos"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="http://www.sagypchiapas.gob.mx/integridad.php?id=2" target="_blank"><img class="d-block w-100 img-fluid" src="img/20220524_111748.jpg" alt="Comite de Etica"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <img class="d-block w-100 img-fluid" src="img/20220120_163651.jpg" alt="city cafe">
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="https://www.plataformadetransparencia.org.mx/web/guest/inicio" target="_blank"><img class="d-block w-100 img-fluid" src="img/20200925_1.jpg" alt="transparencia"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                         <a href="http://consultapublicamx.inai.org.mx:8080/vut-web?idSujetoObigadoParametro=20451&amp;idEntidadParametro=7" target="_blank"><img class="d-block w-100 img-fluid" src="img/20200925_2.jpg" alt="transparencia"></a>
                                         </div>
                                                                                      <div class="carousel-item ">
                                                                                      <a href="tianguis.php?nota=1703"><img class="d-block w-100 img-fluid" src="img/20190923_180543.jpg" alt="TIANGUIS"></a>
                                         </div>
                                                                     </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
</div><div class="container g-pt-20 g-pb-20">
<section class="text-center">
    <div class="container">
        <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
            <h4 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Sitios de Interés</h4>
        </div>
        <div class="row">
            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0">
                    <a href="integridad.php?id=1"><img src="assets/img/banner/integridad.png" class="card-img-top"></a>
                </div>
            </div>

            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0">
                                        <a href="tianguis.php?nota=1703"><img src="assets/img/banner/tianguis.png" class="card-img-top"></a>
                </div>
            </div>

            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0">
                    <a href="transparencia.php?id=1"><img src="assets/img/banner/transparencia.png" class="card-img-top"></a>
                </div>
            </div>

            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0" style="background-color:#F2F2F2;">
                    <a href="https://shyfpchiapas.gob.mx/declarachiapas/" target="_blank"><img src="assets/img/banner/declara.png" class="card-img-top"></a>
                    <!--
                    <a href="https://sistemas.chiapas.gob.mx/FirmaElectronicaEnLinea" target="_blank">Firma Electr&oacute;nica</a>
                    -->
                    <a target="_blank" style="background-color:#F2F2F2;" href="https://firma.chiapas.gob.mx/FirmaElectronicaEnLinea">Firma Electrónica</a>
                </div>
            </div>

            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0">
                    <a href="https://shyfpchiapas.gob.mx/serape/" target="_blank"><img src="assets/img/banner/serape.png" class="card-img-top"></a>
                </div>
            </div>

            <div class="col-4 col-lg-2  g-mb-10">
                <div class="card border-0">
                    <a href="http://162.240.30.188/~secamgob/MAU/" target="_blank"><img src="assets/img/banner/mau.png" class="card-img-top"></a>
                </div>
            </div>



        </div>
    </div>
</section>
</div>
<div class="modal g-mt-150" id="myModal1" tabindex="-1" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="img img-fluid" src="img/20221125_105523.jpeg">
        </div>
        <div class="modal-footer justify-content-center">
            <h5 class="text-center"><a class="text-center text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover" href="nota.php?IdNotas=0"></a></h5>
        </div>
    </div>
</div>
</div>

<div class="g-bg-color-footer g-color-white-opacity-0_8 g-py-20">
<div class="container">
    <div class="row d-sm-block d-md-block d-lg-block d-xl-none">
        <div class="col-md-12 text-center text-md-left g-mb-10">
            <small class="d-block g-font-size-default g-mr-10 g-font-weight-300 text-center"><a href="#" class="g-color-white-opacity-0_8 g-color-white--hover">Secretaría de Agricultura,
                    Ganadería y Pesca</a></small>
        </div>
        <div class="col-md-12 text-center g-mb-10">
            <a class="g-color-white-opacity-0_8" href="aviso.php">Aviso de Privacidad</a>
        </div>
        <div class="col-md-12 text-center g-mb-0">
            <ul class="list-inline text-center mb-0">
                <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-facebook--hover g-color-white-opacity-0_6" href="https://www.facebook.com/SagypChiapas/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-twitter--hover g-color-white-opacity-0_6" href="https://twitter.com/SAGyP_Oficial" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-youtube--hover g-color-white-opacity-0_6" href="https://www.youtube.com/channel/UCg8t9KtpkKFt1Ru8QmMuI6w" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-6 g-mb-20 g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="row g-mb-20">
                <img class="img-fluid" src="assets/logo/logo-blanco.png" alt="Logo">
            </div>
            <div class="row justify-content-center g-mb-20">
                <ul class="list-inline text-center text-md-right mb-0">
                    <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-facebook--hover g-color-white-opacity-0_6" href="https://www.facebook.com/SagypChiapas/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-twitter--hover g-color-white-opacity-0_6" href="https://twitter.com/SAGyP_Oficial" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-youtube--hover g-color-white-opacity-0_6" href="https://www.youtube.com/channel/UCg8t9KtpkKFt1Ru8QmMuI6w" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-12">
                <div title="Contador de Visitas" style="text-align:center;">
<label class="EtiCont">Visitante No. </label>
<label class="contador" onclick="javascript:
        document.getElementById('frm').action='MidEst.php';
        document.getElementById('frm').submit();
        ">106,972</label>
</div>
                </div>
            </div> -->
        </div>
        <div class="col-lg-3 col-md-6 g-mb-20 g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8">
                <h2 class="u-heading-v2__title h6 mb-0">Portal de Gobierno</h2>
            </div>
            <ul class="list-unstyled">
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/" target="_blank">Portal de Gobierno</a></li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/gobernador" target="_blank">Gdor. Rutilio Escandón
                        Cadenas</a></li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/funcionarios/" target="_blank">Directorio de
                        Funcionarios</a></li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://icosorp.chiapas.gob.mx/site/" target="_blank">Sala de Prensa</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 g-mb-20 g-mb-0--lg d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8">
                <h2 class="u-heading-v2__title h6 mb-0">Portal de Servicios</h2>
            </div>
            <ul class="list-unstyled">
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/servicios/" target="_blank">Información de Servicios</a>
                </li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/servicios-por-internet/" target="_blank">Trámites por
                        Internet</a></li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/servicios-pago-de-derechos/" target="_blank">Pagos por
                        Internet</a></li>
                <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://www.chiapas.gob.mx/tramites/" target="_blank">Servicios por Temas</a></li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8">
                <h2 class="u-heading-v2__title h6 mb-0">Temas de Interés</h2>
            </div>
            <ul class="list-unstyled">
            <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="aviso.php">Aviso de Privacidad</a></li>
            <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://micorreo.telmex.com/#/login" target="_blank">Correo Telmex</a></li>
                        <li class="g-mb-5"><i class="fa fa-angle-right g-mr-5"></i><a class="g-color-white-opacity-0_8" href="https://email.chiapas.gob.mx/mail/WebmailLogin.html" target="_blank">Correo Institucional</a></li>
            </ul>
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8">
                <h2 class="u-heading-v2__title h6 mb-0">Contáctanos</h2>
            </div>
            <address class="g-bg-no-repeat g-line-height-2 g-mt-minus-4">
                Carretera Juan Crispín - Chicoasén Km. 2.5 C.P. 29020 <br> Tuxtla Gutiérrez, Chiapas. <br>
                Conmutador: 961 61 70390
            </address>
        </div>
    </div>
</div>
</div><footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-20 d-none d-sm-block d-md-none d-lg-none d-xl-block">
<div class="container">

    <div class="row d-none d-sm-block d-md-block d-lg-block d-xl-none g-mt-0 g-mb-0">
        <div class="col-md-12 text-center text-md-left">
            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md g-font-weight-300 text-center"><a href="http://www.chiapas.gob.mx" target="_blank" class="g-color-white-opacity-0_8 g-color-white--hover">Gobierno del Estado de Chiapas</a></small>
        </div>
    </div>

    <div class="row">	
        <div class="col-md-10 text-center text-md-left g-mb-10 g-mb-0--md d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md g-font-weight-300">Trámites y Servicios:</small>
                        <ul class="u-list-inline">
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/tramites" target="_blank">Buscar servicios</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/servicios-pago-de-derechos" target="_blank">Pago de Derechos</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/servicios-por-entidad" target="_blank">Servicios por Entidad</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/servicios-por-internet" target="_blank">Servicios por Internet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">Mantente informado:</small>
                        <ul class="u-list-inline">
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/tv" target="_blank">TV</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/radio" target="_blank">Radio</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/prensa" target="_blank">Prensa</a></li>
                            <li class="list-inline-item"><span>|</span></li>
                            <li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.chiapas.gob.mx/redes" target="_blank">Redes sociales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-2 align-self-center d-none d-sm-none d-md-none d-lg-none d-xl-block">
            <ul class="list-inline text-center text-md-right mb-0">
            <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-facebook--hover g-color-white-opacity-0_6" href="https://www.facebook.com/SagypChiapas/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-twitter--hover g-color-white-opacity-0_6" href="https://twitter.com/SAGyP_Oficial" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item g-mr-10"><a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-youtube--hover g-color-white-opacity-0_6" href="https://www.youtube.com/channel/UCg8t9KtpkKFt1Ru8QmMuI6w" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div> -->
    </div>

</div>
</footer><script src="assets/js/jquery.min.js"></script>
</body>