<form action="conocenos.php" method="post" name="frm" id="frm">


    <div class="container g-pt-20 g-pb-20">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3 col-12">
                <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary">Conócenos</h3>
                <ul class="list-group">
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="bienvenuda">Bienvenida</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="mision-vision">Misión-Visión</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="que-hacemos">Que hacemos</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="organigrama">Organigrama</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="directorio">Directorio</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="codigo-etica">Código Ética</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="integridad">Integridad Pública</a>
                    </li>
                                    <li class="list-group-item list-group-item-action">
                        <a class="text-decoration-none g-color-black-opacity-0_8 g-color-primary--hover>" href="introduccion">Inducción</a>
                    </li>
                            
                                </ul>
            </div>
    
                    <div class="col-lg-9 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="g-brd-bottom g-brd-bottom-2 g-brd-primary g-mb-20">
                                Integridad Pública</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify">
                                                                                                        <br><br>
                            <div class="row">
                            <div class="col-12 col-lg-6">
                            <div class="card border-0">
                                <div class="row no-gutters">
                                    <div class="col-2">
                                        <i class="fa fa-book fa-4x g-color-primary--hover"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="card-body">
                                            <p class="card-text g-color-black-opacity-0_8">Código de Conducta 2020 (Secretaría de Agricultura, Ganadería y Pesca)</p>
                                            <a href="documentos/COD_CONDUCTA.pdf" class="btn btn-outline-primary btn-sm" target="_blank">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card border-0">
                                <div class="row no-gutters">
                                    <div class="col-2">
                                        <i class="fa fa-book fa-4x g-color-primary--hover"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="card-body">
                                            <p class="card-text g-color-black-opacity-0_8">Código de Conducta 2019 (Secretaría de Agricultura, Ganadería y Pesca)</p>
                                            <a href="documentos/COD_CONDUCTA2.pdf" class="btn btn-outline-primary btn-sm" target="_blank">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                                                                        <!-- <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="">
                                </iframe>
                            </div>
                            <div class="list-group">
                                <div class="d-flex w-100">
                                    <h5 class="mb-1 ">Integridad P&uacute;blica</h5>
                                </div>
                                <p class="mb-1 ">2019-09-19 10:37:13</p>
                            </div> -->
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </form>
